body {
    font-family: 'Arial', sans-serif;
    background: url('https://img.freepik.com/free-vector/night-ocean-landscape-full-moon-stars-shine_107791-7397.jpg?w=1380&t=st=1698149869~exp=1698150469~hmac=438ab386aac06f2f9f81a95077df91f51b2209530a3c37e61e7625131f4637b9') center/cover no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container, .register-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.login-form, .register-form {
    margin: 0;
    padding-bottom: 10px;
    color: #333;
    font-size: 20px;
}

.input-container {
    margin: 10px 0;
    text-align: left;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.input-container input {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.input-container input:focus {
    outline: none;
    border-color: #333;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #555;
}

.additional-options {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.additional-options a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.additional-options a:hover {
    color: #333;
    text-decoration: underline;
}

.remember-me, .confirm-password {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.remember-me input[type="checkbox"] {
    margin-right: 5px;
    width: auto;
}

.input-container.confirm-password label {
    margin-bottom: 5px;
}

.input-container.confirm-password input {
    margin-top: 10px;
}

.checkbox-container label a {
    text-decoration: underline;
    color: #555;
    font-weight: normal;
    font-size: 14px;
}

.checkbox-container label a:hover {
    color: #333;
}